* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(45deg, lightblue, cornflowerblue);
}

input {
    padding: 1vh;
    width: 70vh;
}

button {
    padding: 2vh 5vh;
    font-size: 1.8vh;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    color: white;
    background-color: cornflowerblue;
}

button:hover {
    background-color: rgb(59, 119, 179);
}

input, button {
    display: block;
    margin-bottom: 1vh;
}

h1 {
    color: white;
    font-size: 4vh;
    margin-bottom: 2vh;
}

#message {
    display: none;
    font-size: 2.5vh;
}
