@mixin centerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

@mixin applyGrid {
    display: grid;
    grid-template-columns: repeat(3, 32.66%);
    column-gap: 1%;
    row-gap: 4%;
    width: 100%;
}

@mixin centralize {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
